@charset "UTF-08";

/*Configuração de variavél em CSS*/
 
h1 {
    text-align: center;
}

form#pesquisa {
    background-color: #8ca672;
    text-align: center;
    margin: auto;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    /*height: 600px;
    width: 400px;*/
}

