@charset "UTF-08";

/*Importação de fontes externas*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=M+PLUS+2:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Configuração de variavél em CSS para cor e fontes*/
:root {
    --cor0: #f2f2f2;
    --cor1: #9080a6;
    --cor2: #8ca672;

    --fonte-destaque: 'M PLUS 2', sans-serif;
    --fonte-conteudo: 'Roboto', sans-serif;
}

/*Configuração do corpo*/
body {
    background-color: var(--cor2);
}
 
h1 {
    text-align: center;
    font-family: var(--fonte-destaque);
    text-shadow: 1px 1px 1px  black;
}

form#pesquisa {
    background-color: var(--cor0);
    font-family: var(--fonte-conteudo);
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.575);
    min-width: 300px;
    max-width: 1000px;
    height: 550px;
}

form > div#bl08 > input {
    background-color: var(--cor1);
    width: 100px;
    height: 40px;
}

form > p {
    font-weight: bold;
}

form > div.form {
    padding: 15px;
}


